/* Futuristic and Tech:
Font 1 (Heading): Orbitron
Font 2 (Subheading): Audiowide
Font 3 (Body): Roboto
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Audiowide&family=Roboto&display=swap');

:root {
    --font-heading: 'Orbitron', sans-serif;
    --font-subheading: 'Audiowide', sans-serif;
    --font-body: 'Roboto', sans-serif;
}
